//Colors:
$background-purple: #180049;
$light-grey: #dddfdc; //RGBA: rgb(221,223,220, 0)
$highlight-purple: #3b1cad; //rgb(59,28,173)
$medium-grey: #979498;
$dark-grey: #2c2a2e; //rgb(44,42,46)
$off-white: #fcfffb;

//fonts
$font-jura: 'Jura', sans-serif;
$font-oxygen: 'Oxygen', sans-serif;
